# Configuração do Rqlite

# [RQLITE_HOST]
# - Em DEV local na mesma máquina: Pode deixar vazio. O container pegará seu próprio IP interno (172.x.x.x)
# - Em DEV (múltiplas máquinas) ou PROD: Coloque o IP externo/roteável da máquina.
RQLITE_HOST=

# [NODE_ID]
# ID único do nó no cluster Raft.
# Se for subir um cluster, garanta que cada máquina tenha um NODE_ID diferente (1, 2, 3...)
NODE_ID=1

# [JOIN_NODE]
# - Se este for o nó LÍDER: Deixe em branco.
# - Se este nó for um WORKER: Informe o IP_DO_LIDER:PORTA_HTTP (Ex: 192.168.0.10:4001) para se juntar ao cluster.
JOIN_NODE=
